Repository exasol/project-keeper, pull requests merged in 2021-11, with the labels that each got.

#192 Bugfix/189-fix-actions-template
  .gitignore
  doc/changes/changelog.md
  doc/changes/changes_1.3.2.md
  pom.xml
  src/main/resources/templates/default/require_exist/.github/workflows/ci-build.yml
Labels: bug, source:exasol

#194 bug/193: Renamed next-java github-actions job
  .github/workflows/ci-build-next-java.yml
  README.md
  doc/changes/changes_1.3.2.md
  src/main/resources/templates/default/require_exact/.github/workflows/ci-build-next-java.yml
Labels: bug, documentation

#209 #207: Push trigger only build on main branch
  .github/workflows/broken_links_checker.yml
  .github/workflows/ci-build-next-java.yml
  .github/workflows/ci-build.yml
  .github/workflows/test_linux_build_on_windows.yml
  .github/workflows/test_on_windows.yml
  doc/changes/changes_1.3.4.md
  pom.xml
  src/main/resources/templates/default/require_exact/.github/workflows/broken_links_checker.yml
  src/main/resources/templates/default/require_exact/.github/workflows/ci-build-next-java.yml
  src/main/resources/templates/default/require_exist/.github/workflows/ci-build.yml
Labels: bug, source:exasol, complexity:low
